[submodule "Externals/Glm"]
	path = Externals/Glm
	url = git@github.com:g-truc/glm.git
[submodule "Externals/GLFW"]
	path = Externals/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Externals/SpdLog"]
	path = Externals/SpdLog
	url = git@github.com:gabime/spdlog.git
[submodule "Externals/Entt"]
	path = Externals/Entt
	url = git@github.com:skypjack/entt.git
[submodule "Externals/Stb"]
	path = Externals/Stb
	url = git@github.com:nothings/stb.git
[submodule "Externals/TinyObjLoader"]
	path = Externals/TinyObjLoader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "Externals/DearImgui"]
	path = Externals/DearImgui
	url = git@github.com:ocornut/imgui.git
[submodule "Externals/YamlCpp"]
	path = Externals/YamlCpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "Externals/Catch2"]
	path = Externals/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "Externals/Pybind11"]
	path = Externals/Pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "Externals/TinyGltf"]
	path = Externals/TinyGltf
	url = git@github.com:syoyo/tinygltf.git
