[submodule "Externals/Glm"]
	path = Externals/Glm
	url = git@github.com:g-truc/glm.git
[submodule "Externals/GLFW"]
	path = Externals/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Externals/SpdLog"]
	path = Externals/SpdLog
	url = git@github.com:gabime/spdlog.git
[submodule "Externals/Entt"]
	path = Externals/Entt
	url = git@github.com:skypjack/entt.git
